@model OnneshProject.ViewModel.Account

@{
    Layout = null;
    string error = ViewBag.Error ?? "";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Onnesh: Admin Login</title>

    <meta name="description" content="Free Admin Template Based On Twitter Bootstrap 3.x">
    <meta name="author" content="">

    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="assets/img/metis-tile.png" />
    <!-- Font Awesome -->
    <link href="~/Content/CSS/Common/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/Content/CSS/Common/bootstrap.css" rel="stylesheet" />
    <!-- Metis core stylesheet -->
    <link href="~/Content/CSS/Common/main.css" rel="stylesheet" />
    <!-- metisMenu stylesheet -->
    <link href="~/Content/CSS/Common/metisMenu.css" rel="stylesheet" />
    <!-- onoffcanvas stylesheet -->
    <link href="~/Content/CSS/Common/onoffcanvas.css" rel="stylesheet" />
    <!-- animate.css stylesheet -->
    <link href="~/Content/CSS/Common/animate.css" rel="stylesheet" />

    <script src="~/Scripts/Common/jquery.js"></script>
    <script src="~/Scripts/Common/bootstrap.js"></script>
</head>
<body class="login">
    <div class="form-signin">
        <div class="text-center">
            <img src="~/Content/Images/logo.png" alt="Onnesh Logo">
        </div>
        <hr>
        <div class="tab-content">
            <div id="login" class="tab-pane active">
                @if (error != "")
                {
                    <div class="alert alert-danger">
                        <strong>Error!</strong> @error
                    </div>
                }
                @using (Html.BeginForm("ProviderLogin", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <p class="text-muted text-center">
                        Enter your Email and Password
                    </p>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "email", @required = "", @autofocus = "" } })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password", @required = "" } })
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In" />
                }
                <div id="tabs" data-tabs="tabs">
                    <p class="text-center"><a href="@Url.Action("NewServiceProvider","Accounts")">Need an Account?</a></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <ul class="list-inline">
                <li><a class="text-muted" href="" data-toggle="tab">Forgot Password</a></li>
                @*<li><a class="text-muted" onclick="location.href = window.location.origin + '/Accounts/NewServiceProvider'">Signup</a></li>*@
                <li><a class="text-muted" href="@Url.Action("NewServiceProvider","Accounts")" target="_blank">Signup</a></li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('.list-inline li > a').click(function () {
                    var activeForm = $(this).attr('href') + ' > form';
                    $(activeForm).addClass('animated fadeIn');
                    setTimeout(function () {
                        $(activeForm).removeClass('animated fadeIn');
                    }, 1000);
                });
            });
        })(jQuery);
    </script>
</body>
</html>
